<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.certification.CertificationMapper">

<insert id="addCertification" parameterType="CertificationVO">
INSERT INTO `editshop`.`certification_tb` (
`cen_uid`
,`cen_key`
,`cen_limitkeytime`
,`cen_status`) VALUES (
id, '001100110011', now(), '0'); -- id,인증코드,만료시간, 10
</insert>

<update id="modifyCertification" parameterType="certification">
UPDATE `editshop`.`certification_tb` 
SET `cen_status`='10' 
WHERE `cen_uid`= 'krok3' 
AND `cen_key`= '001100110011';
</update>

<select id="getCertificationByUserId" parameterType="String" resultType="String">
SELECT cen_key
FROM certification_tb
WHERE cen_uid = ${id}
AND cen_status = 10;
</select>
</mapper>