<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.certification.CertificationMapper">

<resultMap id="certificationMap" type="vo.CertificationVO">
		<id property="id" column="cen_uid" />
		<result property="key" column="cen_key" />
		<result property="limitKeyTime" column="cen_limitkeytime" />
		<result property="status" column="cen_status" />
</resultMap>


<insert id="addCertification" parameterType="certification">
INSERT INTO `editshop`.`certification_tb` (
`cen_uid` 
,`cen_key`
,`cen_limitkeytime` 
,`cen_status`) VALUES (
#{id}, #{key}, #{limitKeyTime}, 10);
</insert>

<update id="modifyCertification" parameterType="certification">
UPDATE `editshop`.`certification_tb` 
SET `cen_status`=0 
WHERE `cen_uid`= #{id} 
AND `cen_key`= #{key}
</update>

<select id="getCertificationByUserId" parameterType="String" resultType="certification">
SELECT `cen_uid`, `cen_key`, MAX(cen_limitkeytime), cen_status
FROM certification_tb
WHERE cen_uid = #{id}
AND cen_status = 10;
</select>

<select id="existKey" parameterType="String" resultType="boolean">
SELECT COUNT(cen_key)
FROM certification_tb
WHERE cen_key = #{key}
</select>

</mapper>