<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.order.OrderMapper">
	
	
	<insert id="newOrderProduct" parameterType="order">
		INSERT INTO `editshop`.`order_tb` (
		`ot_ordernumber`
		,`ot_user_id`
		,`ot_seller_id`
		,`ot_productid`
		,`ot_pt_option`
		,`ot_status`
		,`ot_amount`) VALUES (
		#{ordernumber}, #{userid}, #{sellerid}, #{productid}, #{productOption}, 50, #{amount});
	</insert>
	
	<insert id="newOrderTime" parameterType="String">
	INSERT INTO `editshop`.`order_info_tb` (
	`oit_ordernumber`
	,`oit_buytime`
	) VALUES (
	#{ordernumber}
	,now());
	</insert>

	<insert id="addDeliveryInfo" parameterType="Delivery">
	INSERT INTO `editshop`.`delivery_info_tb` (
	`dit_ordernumber`
	,`dit_name`
	,`dit_address`
	,`dit_phone`
	,`dit_memo`
	,`dit_status`
	) VALUES (
	#{ordernumber}, #{name}, #{address}, #{phone}, #{memo}, 50);
	</insert>
	
	<update id="modifyDeliveryInfo" parameterType="Delivery">
	UPDATE `editshop`.`delivery_info_tb` 
	SET `dit_invoice`=#{invoice}
		 ,`dit_parcelcode`=#{parcelCode} 
	WHERE `dit_ordernumber`=#{ordernumber};
	</update>
	
	<update id="orderPaymentTime" parameterType="String">
	UPDATE `editshop`.`order_info_tb` 
	SET `oit_paymenttime`=now() 
	WHERE `oit_ordernumber`=#{ordernumber};
	</update>
	
	<!-- order Status -->
	
	<update id="buyconfirmStatus" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=0 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="beforePaymentStatus" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=50 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="afterPaymentStatus" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=51 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="beforeInsertAddress" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=52 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="checkOrderbySeller" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=53 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="readyProductbySeller" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=54 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="startDelivery" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=55
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="sendDelivery" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=56 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="completeDelivery" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=57
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="exchangeStatus" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=58
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="cancelOrderStatus" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=59 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	<update id="refundStatus" parameterType="String">
	UPDATE `editshop`.`order_tb` 
	SET `ot_status`=60 
	WHERE `ot_ordernumber`=#{ordernumber};
	</update>
	
	
	<!-- delivery info Status -->
	
	<update id="startDeliveryInfo" parameterType="String">
	UPDATE `editshop`.`delivery_info_tb` 
	SET `dit_status`='55' 
	WHERE `dit_ordernumber`=#{ordernumber};
	</update>
	
	<update id="sendDeliveryInfo" parameterType="String">
	UPDATE `editshop`.`delivery_info_tb` 
	SET `dit_status`='56' 
	WHERE `dit_ordernumber`=#{ordernumber};
	</update>
	
	<update id="completeDeliveryInfo" parameterType="String">
	UPDATE `editshop`.`delivery_info_tb` 
	SET `dit_status`='57' 
	WHERE `dit_ordernumber`=#{ordernumber};
	</update>
	
	<!-- ordernumber로 찾기 -->
	<select id="getOrderInfo" parameterType="String" resultType="OrderInfo" resultMap="orderInfoMap">
	SELECT oit_ordernumber, oit_buytime, oit_paymenttime, oit_deliverytime, oit_complaintime, oit_completetime 
	FROM order_info_tb
	WHERE oit_ordernumber = #{ordernumber};
	</select>
	
	<select id="getDeliveryInfo" parameterType="String" resultType="Delivery" resultMap="deliveryInfoMap">
	SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
	FROM delivery_info_tb
	WHERE dit_ordernumber = #{ordernumber}
	</select>
	
	<!-- parcelCode로 찾기 -->
	<select id="getOrderByParcelNumber" parameterType="String" resultType="order" resultMap="orderMap">
	SELECT `ot_ordernumber`, `ot_user_id`, `ot_seller_id`, `ot_productid`, `ot_pt_option`, `ot_status`, `ot_amount`
	FROM order_tb
	WHERE ot_ordernumber = (SELECT dit_ordernumber
										      FROM delivery_info_tb
									        WHERE dit_invoice = #{invoice});
	</select>
	
	<select id="getOrderInfoByParcelNumber" parameterType="String" resultType="orderInfo" resultMap="orderInfoMap">
	SELECT oit_ordernumber, oit_buytime, oit_paymenttime, oit_deliverytime, oit_complaintime, oit_completetime
	FROM order_info_tb
	WHERE oit_ordernumber = (SELECT dit_ordernumber
	                				 FROM delivery_info_tb
                           WHERE dit_invoice = #{invoice});
	</select>
	
	<select id="getDeliveryInfoByParcelNumber" parameterType="String" resultType="delivery" resultMap="deliveryInfoMap">
	SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
	FROM delivery_info_tb
	WHERE dit_invoice = #{invoice};
	</select>

	<!-- userID로 찾기 -->
	<select id="getOrderByUserId" parameterType="String" resultType="order" resultMap="orderMap">
	SELECT `ot_ordernumber`, `ot_user_id`, `ot_seller_id`, `ot_productid`, `ot_pt_option`, `ot_status`, `ot_amount`
	FROM order_tb
	WHERE ot_user_id = #{userid};
	</select>
	
 <select id="getDeliveryByUserId" parameterType="String" resultType="delivery" resultMap="deliveryInfoMap">
	SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
	FROM delivery_info_tb
	WHERE dit_ordernumber = (SELECT ot_ordernumber
													 FROM order_tb
													 WHERE ot_user_id = #{userid});
	</select>

	<!-- sellerID로 찾기 -->
 	<select id="getOrderBySellerId" parameterType="String" resultType="order" resultMap="orderMap">
	SELECT `ot_ordernumber`, `ot_user_id`, `ot_seller_id`, `ot_productid`, `ot_pt_option`, `ot_status`
	FROM order_tb
	WHERE ot_seller_id = #{sellerid};
	</select>

	<select id="getDeliveryBySellerId" parameterType="String" resultType="delivery" resultMap="deliveryInfoMap">
 	SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
	FROM delivery_info_tb
		INNER JOIN order_tb
 		   		  ON ot_ordernumber = dit_ordernumber
	WHERE ot_seller_id = #{sellerid};
	</select> 
<!-- 	SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
	FROM delivery_info_tb
	WHERE dit_ordernumber IN (SELECT ot_ordernumber
								 						  FROM order_tb
							               WHERE ot_user_id = #{sellerid}); -->

	<select id="getAllOrder" resultType="order" resultMap="orderMap">
	SELECT ot_ordernumber, ot_user_id, ot_seller_id, ot_productid, ot_pt_option, ot_status, ot_amount 
	FROM order_tb;
	</select>

	<select id="getAllOrderInfo" resultType="order" resultMap="orderInfoMap">
		SELECT oit_ordernumber, oit_buytime, oit_paymenttime, oit_deliverytime, oit_complaintime, oit_completetime
		FROM order_info_tb
	</select>
	
	<select id="getAllDelivery" resultType="delivery" resultMap="deliveryInfoMap">
		SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
		FROM delivery_info_tb
	</select>
	
	<select id="getOrderByStatus" parameterType="int" resultType="order" resultMap="orderMap">
		SELECT ot_ordernumber, ot_user_id, ot_seller_id, ot_productid, ot_pt_option, ot_status, ot_amount
		FROM order_tb
		WHERE ot_status = #{status}
	</select>
	<select id="getOrderInfoByStatus" parameterType="int" resultType="orderInfo" resultMap="orderInfoMap">
		SELECT oit_ordernumber, oit_buytime, oit_paymenttime, oit_deliverytime, oit_complaintime, oit_completetime
		FROM order_info_tb
		WHERE oit_ordernumber IN (SELECT ot_ordernumber
														  FROM order_tb
						  								WHERE ot_status = #{status});
	</select>
	<select id="getDeliveryByStatus" parameterType="int" resultType="delivery" resultMap="deliveryInfoMap">
		SELECT dit_ordernumber, dit_name, dit_address, dit_phone, dit_memo, dit_status, dit_invoice, dit_parcelcode
		FROM delivery_info_tb
		WHERE dit_status = #{status}
	</select>
<!-- mapper 3개  -->

	<resultMap id="orderInfoMap" type="vo.OrderInfo">
		<id property="ordernumber" column="oit_ordernumber" />
		<result property="buyTime" column="oit_buytime" />
		<result property="paymentTime" column="oit_paymenttime" />
		<result property="deliveryTime" column="oit_deliverytime" />
		<result property="complainTime" column="oit_complaintime" />
		<result property="completeTime" column="oit_completetime" />
	</resultMap>

	<resultMap id="deliveryInfoMap" type="vo.Delivery">
		<id property="ordernumber" column="dit_ordernumber" />
		<result property="name" column="dit_name" />
		<result property="address" column="dit_address" />
		<result property="phone" column="dit_phone" />
		<result property="memo" column="dit_memo" />
		<result property="status" column="dit_status" />
		<result property="invoice" column="dit_invoice" />
		<result property="parcelCode" column="dit_parcelcode" />
	</resultMap>
	
	<!-- -->

	<resultMap id="orderMap" type="vo.Order">
		<id property="ordernumber" column="ot_ordernumber" />
		<result property="userid" column="ot_user_id" />
		<result property="sellerid" column="ot_seller_id" />
		<result property="productid" column="ot_productid" />
		<result property="productOption" column="ot_pt_option" />
		<result property="status" column="ot_status" />
		<result property="amount" column="ot_amount"/>
	</resultMap>
	
	<insert id="newExchangeOrder" parameterType="order">
		INSERT INTO `editshop`.`order_tb` 
		(`ot_ordernumber`, `ot_user_id`, `ot_seller_id`, `ot_productid`, `ot_pt_option`, `ot_status`) 
		VALUES 
		(#{ordernumber}, #{userid}, #{sellerid}, #{productid}, #{productOption}, 58);
	</insert>

	<select id="getOrder" parameterType="String" resultType="order" resultMap="orderMap">
		select `ot_ordernumber`, `ot_user_id`, `ot_seller_id`, `ot_productid`, `ot_pt_option`, `ot_status` from order_tb
		where ot_ordernumber = #{ordernumber};
	</select>

	<select id="getLastOrdernumber" resultType="String" parameterType="String">
		select max(`ot_ordernumber`) as result from order_tb
		where ot_ordernumber like CONCAT(#{offend}"%");
	</select>
	
	<insert id="addExchangeLog" parameterType="Map">
	INSERT INTO `editshop`.`exchange_tb` 
	(`et_ordernumber`, `et_chaser`, `et_exchangetime`, `et_status`) 
	VALUES 
	(#{original}, #{chaser}, now(), '58');
	</insert>


	<!-- -->
	<update id="cancelOrder" parameterType="String">
	update order_tb set ot_status = 59 where ot_ordernumber = #{ordernumber};
	</update>
	<!-- 환불시  status 60으로 번경 후 물건받으면 다시 60로 변경 -->
	<update id="returnOrder" parameterType="String">
	update order_tb set ot_status = 60 where ot_ordernumber = #{ordernumber};
	</update>

</mapper>