<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.product.ProductMapper">
<!-- Status 관련
	만       료 : 0;
	승  인  전 : 40;
	수  정  중 : 41;
	판  매  중 : 42;
	세  일  중 : 43;
	판매 중단 : 44;
	판매 중단 : 45; //admin
	수  정  됨 : 46;
	반  려  됨 : 47;
	취  소  됨 : 48;
 -->
<resultMap id="productMap" type="vo.Product">
		<id property="productId" column="pt_productid" />
		<result property="sellerId" column="pt_uid" />
		<result property="maxQuantity" column="pt_maxquantity" />
		<result property="sellcnt" column="pt_sellcount" />
		<result property="limitTime" column="pt_limittime"/>
		<result property="registTime" column="pt_registtime" />
		<result property="option" column="pt_option" />
		<result property="commission" column="pt_commission" />
		<result property="imagepath" column="pt_imagepath" />
		<result property="status" column="pt_status" />
</resultMap>

<resultMap id="productLangMap" type="vo.ProductLang">
		<id property="productId" column="pt_productid" />
		<result property="name" column="pt_name" />
		<result property="content" column="pt_content" />
</resultMap>

<resultMap id="productSimpleMap" type="vo.ProductSimple">
		<id property="productId" column="ps_productid" />
		<result property="price" column="ps_price" />
		<result property="thumbnail" column="ps_thumbnail" />
		<result property="status" column="ps_status" />
		<result property="type" column="ps_type" />
</resultMap>

<!-- 등록 -->
<insert id="addProduct" parameterType="product">
INSERT INTO `editshop`.`product_tb` (
`pt_productid` 
,`pt_uid`
,`pt_maxquantity`
,`pt_limittime`
,`pt_registtime`
,`pt_option`
,`pt_commission`
,`pt_imagepath`
,`pt_status`) VALUES (
#{productId}, #{sellerId}, #{maxQuantity}, #{limitTime}, now(), #{option}, #{commission}, #{imagepath}, 40);
</insert>

<insert id="addProductLangKr" parameterType="productLang">
INSERT INTO `editshop`.`product_kr_tb` (
`pt_productid`
,`pt_content`
,`pt_name`) VALUES (
#{productid}, #{content}, #{name});
</insert>

<insert id="addProductLangEn" parameterType="productLang">
INSERT INTO `editshop`.`product_en_tb` (
`pt_productid`
,`pt_content`
,`pt_name`) VALUES (
#{productid}, #{content}, #{name});
</insert>

<insert id="addProductLangCn" parameterType="productLang">
INSERT INTO `editshop`.`product_cn_tb` (
`pt_productid`
,`pt_content`
,`pt_name`) VALUES (
#{productid}, #{content}, #{name});
</insert>

<insert id="addProductLangJp" parameterType="productLang">
INSERT INTO `editshop`.`product_jp_tb` (
`pt_productid`
,`pt_content`
,`pt_name`) VALUES (
#{productid}, #{content}, #{name});
</insert>

<insert id="addProductSimple" parameterType="productSimple">
INSERT INTO `editshop`.`product_simple_tb` (
`ps_productid`
,`ps_price`
,`ps_thumbnail`
,`ps_status`
,`ps_type`) VALUES (
#{productid}, #{price}, #{thumbnail}, 40, #{type});
</insert>

<insert id="addModifyProduct" parameterType="product">
INSERT INTO `editshop`.`product_tb` (
`pt_productid` 
,`pt_uid`
,`pt_maxquantity`
,`pt_sellcount`
,`pt_limittime`
,`pt_registtime`
,`pt_option`
,`pt_commission`
,`pt_imagepath`
,`pt_status`) VALUES (
#{productId}, #{sellerId}, #{maxQuantity}, #{sellcnt}, #{limitTime}, #{registTime}, #{option}, #{commission}, #{imagepath}, 41);
</insert>
<insert id="addModifyProductSimple" parameterType="productSimple">
INSERT INTO `editshop`.`product_simple_tb` (
`ps_productid`
,`ps_price`
,`ps_thumbnail`
,`ps_status`
,`ps_type`) VALUES (
#{productid}, #{price}, #{thumbnail}, 41, #{type});
</insert>

<!-- 수정 -->
<!-- modifyProduct삭제 & addModifyProductSimple추가할것 -->
<!-- modifyProductSimple도 삭제 -->


<update id="modifyProductLangKr" parameterType="String">
UPDATE `editshop`.`product_kr_tb` 
SET `pt_content`=#{content}
  , `pt_name`=#{name} 
WHERE `pt_productid`=#{productid};
</update>

<update id="modifyProductLangEn" parameterType="String">
UPDATE `editshop`.`product_en_tb` 
SET `pt_content`=#{content}
  , `pt_name`=#{name} 
WHERE `pt_productid`=#{productid};
</update>

<update id="modifyProductLangCn" parameterType="String">
UPDATE `editshop`.`product_cn_tb` 
SET `pt_content`=#{content}
  , `pt_name`=#{name} 
WHERE `pt_productid`=#{productid};
</update>

<update id="modifyProductLangJp" parameterType="String">
UPDATE `editshop`.`product_jp_tb` 
SET `pt_content`=#{content}
  , `pt_name`=#{name} 
WHERE `pt_productid`=#{productid};
</update>

<insert id="addModifyChaser">
INSERT INTO `editshop`.`modifyproduct_tb` (
`mt_productid`
,`mt_chaserid`
,`mt_modifytime`
,`mt_status`) VALUES (
#{productid}, #{chaserid}, now(), 41);
</insert>

<!-- <update id="modifyChaser" parameterType="String">
UPDATE `editshop`.`modifyproduct_tb` 
	 SET `mt_status`='42' 
 WHERE `mt_productid`=#{productid};
</update> -->

<!-- 등록 승인 -->
<!-- new!! -->
<update id="confirmProduct" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`='42' 
WHERE `pt_productid`=#{productId};
</update>

<update id="confirmProductSimple" parameterType="String">
UPDATE `editshop`.`product_simple_tb` 
SET `ps_status`= 42 
WHERE `ps_productid`=#{productid};
</update>

<!-- 원본 수정 status 46 : 수정 완료  -->
<update id="confirmModifyProduct" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`= 46 
WHERE `pt_productid`=#{productId};
</update>

<update id="confirmModifyProductSimple" parameterType="String">
UPDATE `editshop`.`product_simple_tb` 
SET `ps_status`= 46 
WHERE `ps_productid`=#{productid};
</update>

<update id="confirmModifyChaser" parameterType="String">
UPDATE `editshop`.`modifyproduct_tb` 
	 SET `mt_status`='46' 
 WHERE `mt_productid`=#{productid};
</update>

<!-- 취소 관련 -->
<!-- 등록전 취소 -->
<update id="cancelProduct" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status` = 0 
WHERE `pt_productid`= #{productId};
</update>

<update id="cancelProductSimple" parameterType="String">
UPDATE `editshop`.`product_simple_tb` 
SET `ps_status`= 0 
WHERE `ps_productid`=#{productid};
</update>

<!-- 등록후 취소 -->
<!-- status : 47 반려됨  : 48 취소됨-->
<update id="returnProduct" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`= 47
WHERE `pt_productid`=#{productid};
</update>

<update id="cancelModifyProduct" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`= 48 
WHERE `pt_productid`=#{productid};
</update>

<update id="cancelModifyProductSimple" parameterType="String">
UPDATE `editshop`.`product_simple_tb` 
SET `ps_status`= 48 
WHERE `ps_productid`=#{productid};
</update>

<update id="cancelModifyProductChaser" parameterType="String">
UPDATE `editshop`.`modifyproduct_tb` 
	 SET `mt_status`= 48 
 WHERE `mt_productid`=#{productid};
</update>

<!-- 삭제 관련 -->
<update id="overLimitTime" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`= 0 
WHERE `pt_productid`=#{productid};
</update>
<update id="expireProdcut" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`= 0 
WHERE `pt_productid`=#{productid};
</update>
<update id="expireProductSimple" parameterType="String">
UPDATE `editshop`.`product_simple_tb` 
SET `ps_status`= 0
WHERE `ps_productid`=#{productid};
</update>

<!-- 재제 관련 -->
<update id="sanctionProductByAdmin" parameterType="String">
UPDATE `editshop`.`product_tb` 
SET `pt_status`= 44 
WHERE `pt_productid`=#{productid};
</update>
<update id="sanctionProductSimpleByAdmin" parameterType="String">
UPDATE `editshop`.`product_simple_tb` 
SET `ps_status`= 44
WHERE `ps_productid`=#{productid};
</update>

<!-- get(all) -->
<select id="getNewArrival" resultType="productSimple" resultMap="productSimpleMap">
SELECT ps_productid as productId, ps_thumbnail, ps_price, ps_type, ps_status
FROM product_simple_tb
INNER JOIN product_tb
				ON pt_productid = ps_productid
WHERE pt_status = 42
  AND ps_status = 42
ORDER BY pt_registtime DESC LIMIT 15;
</select>

<select id="getNewArrivalMain" resultType="productSimple" resultMap="productSimpleMap">
SELECT ps_productid as productId, ps_thumbnail, ps_price, ps_type, ps_status
FROM product_simple_tb
INNER JOIN product_tb
				ON pt_productid = ps_productid
WHERE pt_status = 42
ORDER BY pt_registtime DESC LIMIT 3;
</select>

<select id="getProductSimpleByType" parameterType="int" resultType="productSimple" resultMap="productSimpleMap">
SELECT ps_productid as productId, ps_thumbnail, ps_price, ps_type, ps_status
FROM product_simple_tb
WHERE ps_type = #{type}
AND ps_status = 42;
</select>

<select id="getProductSimpleBySellerId" parameterType="String" resultType="productSimple" resultMap="productSimpleMap">
SELECT ps_productid as productId, ps_thumbnail, ps_price, ps_type, ps_status
FROM product_simple_tb
INNER JOIN product_tb
ON ps_productid = pt_productid
WHERE pt_uid = #{sellerid}
AND ps_status = 42
ORDER BY pt_registtime DESC;
</select>

<!-- detail View -->
<select id="getProductByProductId" resultType="product" resultMap="productMap">
SELECT `pt_productid`
			,`pt_uid`
			,`pt_maxquantity`
			,`pt_sellcount`
			,`pt_limittime`
			,`pt_registtime`
			,`pt_option`
			,`pt_commission`
			,`pt_imagepath`
			,`pt_status`
FROM product_tb
WHERE pt_productid=#{productid};
</select>

<select id="getProductLangKrByProductId" parameterType="String" resultType="productLang" resultMap="productLangMap">
SELECT pt_productid as productId, pt_content, pt_name
FROM product_kr_tb
WHERE pt_productid = #{productid}; 
</select>

<select id="getProductLangEnByProductId" parameterType="String" resultType="productLang" resultMap="productLangMap">
SELECT pt_productid as productId, pt_content, pt_name
FROM product_en_tb
WHERE pt_productid = #{productid}; 
</select>

<select id="getProductLangCnByProductId" parameterType="String" resultType="productLang" resultMap="productLangMap">
SELECT pt_productid as productId, pt_content, pt_name
FROM product_cn_tb
WHERE pt_productid = #{productid}; 
</select>

<select id="getProductLangJpByProductId" parameterType="String" resultType="productLang" resultMap="productLangMap">
SELECT pt_productid as productId, pt_content, pt_name
FROM product_jp_tb
WHERE pt_productid = #{productid}; 
</select>


<!-- get(seller) -->
<select id="getSanctionBySellerId" parameterType="String" resultType="productSimple" resultMap="productSimpleMap">
SELECT ps_productid as productId, ps_thumbnail, ps_price, ps_type, ps_status
FROM product_simple_tb
INNER JOIN product_tb
ON ps_productid = pt_productid
WHERE pt_uid = #{sellerid}
AND ps_status = 44
ORDER BY pt_registtime DESC;
</select>

<select id="getResponseProductSimpleBySellerId" parameterType="String" resultType="productSimple" resultMap="productSimpleMap">
SELECT ps_productid as productId, ps_thumbnail, ps_price, ps_type, ps_status
FROM product_simple_tb
INNER JOIN product_tb
ON ps_productid = pt_productid
WHERE pt_uid = #{sellerid}
AND ps_status = 40
OR ps_status = 41
ORDER BY pt_registtime DESC;
</select>

<!-- other -->
<select id="getLastProductNumber" resultType="String">
SELECT max(pt_productid+0)
FROM product_tb;
</select>

<update id="extendProduct" parameterType="product">
UPDATE product_tb
SET pt_limittime=#{limittime}
WHERE pt_productid = #{productid}
</update>

<select id="getChaserNumber" parameterType="String" resultType="String">
SELECT mt_chaserid
FROM modifyproduct_tb
WHERE mt_productid = #{productid}
</select>

</mapper>