<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="vo.UserDetail" alias="userDetail" />
		<typeAlias type="vo.UserInfo" alias="userInfo" />
		<typeAlias type="vo.User" alias="user" />
		<typeAlias type="vo.Seller" alias="seller" />
		<typeAlias type="vo.SellerLang" alias="sellerLang" />
		<typeAlias type="vo.Board" alias="board" />
		<typeAlias type="vo.Comment" alias="comment" />
		<typeAlias type="vo.Seller" alias="seller" />
		<typeAlias type="vo.SellerLang" alias="sellerLang" />
		<typeAlias type="vo.QNA" alias="qna" />
		<typeAlias type="vo.QNAComment" alias="qnaComment" />
		<typeAlias type="vo.Order" alias="order" />
		<typeAlias type="vo.OrderInfo" alias="orderInfo" />
		<typeAlias type="vo.Delivery" alias="delivery" />
		<typeAlias type="vo.Product" alias="product"/>
		<typeAlias type="vo.ProductLang" alias="productLang"/>
		<typeAlias type="vo.ProductSimple" alias="productSimple"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://editshop.cnn54jrq1pih.ap-northeast-2.rds.amazonaws.com:3306/editshop" />
				<property name="username" value="admin" />
				<property name="password" value="12341234" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/UserAddMapper.xml" />
		<mapper resource="mapper/UserModifyMapper.xml" />
		<mapper resource="mapper/UserLogMapper.xml" />
		<mapper resource="mapper/UserAdministrationMapper.xml" />
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/CommentMapper.xml" />
		<mapper resource="mapper/ReviewMapper.xml"/>
		<mapper resource="mapper/SellerAddMapper.xml"/>
		<mapper resource="mapper/QnaMapper.xml"/>
		<mapper resource="mapper/QnaCommentMapper.xml"/>
		<mapper resource="mapper/OrderMapper.xml"/>
		<mapper resource="mapper/ProductMapper.xml"/>
	</mappers>
</configuration>
